[submodule "themes/coder"]
	path = themes/coder
	url = https://github.com/luizdepra/hugo-coder.git
[submodule "public"]
	path = public
	url = git@github.com:sausax/sausax.github.com.git
	branch = master
